.nav {
    grid-area: navbar;
    height: 100vh;
}

.item {
    transition: .3s;
    margin-bottom: 10px;
}

.item a {
    background-color: #e8fcff;
    text-decoration: none;
    line-height: 40px;
    font-size: 20px;
    padding-left: 15px;
    color: #464646;
    display: block;
}

.item a:hover {
    text-decoration: none;
    color: #464646;
    background-color: #A9FAFF;
}


.item .active {
    background-color: #A9FAFF;
    color: #464646;
    font-weight: 600;
}

