.header {
    grid-area: header;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column: 1/3;
    background-color: #EFEFEF;
    z-index: 1;
}

.logo img {
    width: 150px;
}

.logo {
    justify-self: start;
    align-self: center;
    margin-left: 20px;
}
