.header
{ z-index: 1; display: grid;  background-color: #efefef; 

    grid-area: header;  grid-template-columns: repeat(2, 1fr);  grid-column: 1/3; 
}

.logo img
{
    width: 150px;
}

.logo
{ align-self: center;  margin-left: 20px;

    justify-self: start; 
}
