*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.app-wrapper {
    margin: 0 auto;
    width: 1200px;
    display: grid;
    grid-auto-rows: minmax(90px, auto);
    grid-template-columns: 2fr 10fr;
    grid-gap: 10px;
    grid-template-areas:
            "header ."
            "navbar c";
}

.app-wrapper-content{
    grid-area: c;
    background-color: #E8FCFF;
}


